<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>01_HelloWorld</title>
</head>
<body>

<!--
  1. 引入Vue.js
  2. 创建Vue对象
    el : 指定根element(选择器)
    data : 初始化数据(页面可以访问)
  3. 双向数据绑定 : v-model
  4. 显示数据 : {{xxx}}
  5. 理解vue的mvvm实现
-->
<!--
模板页面: html中套了js
  vue指令(v-model="msg"): vue自定义以v-开头一些特别的标签属性
  大括号表达式({{msg}}): 动态显示表达式所对应的值
-->
<div id="test">
  <input type="text" v-model="msg">
  <p>Hello {{msg}}</p>
</div>

<p>{{msg}}</p>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  // 创建Vue的实例对象
  const vm = new Vue({ // 配置对象: 属性名是一些特定的名称
    el: '#test',  // element, 值是一个选择器, 指定vue管理哪个标签区域由vue来管理
    data: {  // 值是一个对象, 包含n个属性数据, 模板中可以直接读取data中所有属性数据
      msg: 'atguigu'
    }
  })

  // 给Vue函数对象添加test方法
  Vue.test = function () {
    
  }
  vm.test = function () {

  }
</script>
</body>
</html>